<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}
{% load staticfiles %}

{% block content %}
  <div class="row" style="margin-top: 20px;margin-left:-200px;width:800px;">
    {% for customer in customers %}
      <div class="col-md-4" style="border-style:solid;border-width:medium;">  <!-- 客戶管理 -->
        <h3>客戶資料</h3>
        <div class="customer">
          <div class="customer-info">
            <h4>客戶姓名</h4>
            <p>{{ customer.name }}</p>
          </div>
          <div class="customer-info">
            <h4>照片</h4>
            <img src="{{ customer.photo.url }}" width="100" height="100" alt="Customer Photo" />
          </div>
          <div class="customer-info">
            <h4>首次來店日期</h4>
            <p>{{ customer.first_visit_date }}</p>
          </div>
          <div class="customer-info">
            <h4>備註</h4>
            <p>{{ customer.remarks }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="col-md-8" style="padding-left:70px;">
    <div class="customer-block" style="border:3px #000000 solid;margin-bottom: 30px;">
      <h3>關注</h3>
      <div style="border:5px #46A3FF solid;">
        <!-- 在這裡放置關注階段的客戶的姓名 -->
        {% for customer in customers %}
          {% if customer.stage == '關注' %}
            {{ customer.name }}
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="customer-block" style="border:3px #000000 solid;margin-bottom: 30px;">
      <h3>興趣</h3>
      <div style="border:5px #46A3FF solid;">
        <!-- 在這裡放置興趣階段的客戶的姓名 -->
        {% for customer in customers %}
          {% if customer.stage == '興趣' %}
            {{ customer.name }}
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="customer-block" style="border:3px #000000 solid;margin-bottom: 30px;">
      <h3>購買</h3>
      <div style="border:5px #46A3FF solid;">
        <!-- 在這裡放置購買階段的客戶的姓名 -->
        {% for customer in customers %}
          {% if customer.stage == '購買' %}
            {{ customer.name }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
