{% extends 'base.html' %}

{% block title %}產品管理 - 銷售管理系統{% endblock %}

{% block content %}
<div class="row" style="margin-top: 20px;margin-left:10px;width:300px;">
    <div class="col-md-4" style="border-style:solid;border-width:medium;">
      <h3>產品資料</h3>

        <div class="customer-info">
          <h4>產品照片</h4>
       
        </div>
        
        <div class="customer-info">
          <h4>產品平價</h4>
          <p>產品非常好</p>
        </div>
      </div>
    </div>
    <div class="col-md-8" style="margin-top: -200px; margin-left: 350px; width: 500px;" >
      <div class="customer-block" style="border:3px #000000 solid;margin-bottom: 30px;">
        <h3>產品名稱</h3>
        <p>商品1</p>
        <h3>數量</h3>
        <p>1</p>
        <h3>下訂單</h3>
      </div>
      
    </div>
    <div class="row" style="margin-top: 20px;margin-left:10px;width:300px;">
        <div class="col-md-4" style="border-style:solid;border-width:medium;">
          <h3>產品資料</h3>
    
            <div class="customer-info">
              <h4>產品照片</h4>
           
            </div>
            
            <div class="customer-info">
              <h4>產品平價</h4>
              <p>產品非常好</p>
            </div>
          </div>
        </div>
        <div class="col-md-8" style="margin-top: -200px; margin-left: 350px; width: 500px;" >
          <div class="customer-block" style="border:3px #000000 solid;margin-bottom: 30px;">
            <h3>產品名稱</h3>
            <p>商品2</p>
            <h3>數量</h3>
            <p>1</p>
            <h3>下訂單</h3>
          </div>
          
        </div>
        <div class="row" style="margin-top: 20px;margin-left:10px;width:300px;">
            <div class="col-md-4" style="border-style:solid;border-width:medium;">
              <h3>產品資料</h3>
        
                <div class="customer-info">
                  <h4>產品照片</h4>
               
                </div>
                
                <div class="customer-info">
                  <h4>產品平價</h4>
                  <p>產品非常好</p>
                </div>
              </div>
            </div>
            <div class="col-md-8" style="margin-top: -200px; margin-left: 350px; width: 500px;" >
              <div class="customer-block" style="border:3px #000000 solid;margin-bottom: 30px;">
                <h3>產品名稱</h3>
                <p>商品3</p>
                <h3>數量</h3>
                <p>1</p>
                <h3>下訂單</h3>
              </div>
              
            </div>
{% endblock %}
